* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10%;
    font-size: 25px;
}

h2 {
    color: #7A28CB;
    font-size: 22px;
    margin-bottom: 2%;
}

.container-all {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.container-element {
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 17px;
}

#generate {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 19px;
    background-color: #7A28CB;
    color: white;
    border-radius: 7px;
    border: 2px solid #7A28CB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: 0.5s;
}

#generate:hover {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 19px;
    background-color: white;
    color: #7A28CB;
    border-radius: 7px;
    border: 2px solid #7A28CB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: 0.5s;
}
/* 
 .container-options {
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
}


input, select, label {
    display: inline-block;
    width: 100%;
} */